.App {
  text-align: center;
}

body{
  background-image: url("https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
h1{
  color: aliceblue;
}
.divTable{
  display: table;
  max-width: 20em; 
  float: right;
    display: flex;  
    align-items: center;       
}
  
 .divTableRow {
  display: table-row;
} 
 .divTableHeading{
  background-color: rgb(219, 219, 219);
  display: table-header-group;
  font-weight: bold;
} 

.divTableCell,
.divTableHead{
  border: 1px solid rgba(208, 103, 5, 0.6);
  display: table-cell;
  padding: 3px 10px;
}
.divTableFoot {
  background-color: rgb(219, 219, 219);
  display: table-footer-group;
  font-weight: bold;
}
 .divTableBody{
  display: table-row-group;
} 

.divTableCell:nth-child(1n){
  background-color: azure;
}

.container {
  display: flex;
  opacity: 0.9;
  /* background-color: #99aaab; */
  justify-content: center;
  
}

img {
  height: auto;
}

.mb-3
{
  margin: 7rem auto;
  align-items: center;
  padding-left: 30%;
}
.form-control {
  width: fit-content;
  box-sizing: content-box;   
  font-size: 1rem; 
  padding: 2rem; 
  display:block; 
  margin-right: 40%;
  /* margin: 0rem auto;    */
}   

